.idea
.gradle
protonet.apk
protonet.live.apk
protonet.apk.idsig
protonet.live.apk.idsig
protonet.live
*.iml
local.properties

.DS_Store
build
captures
.externalNativeBuild
.cxx

/android/app/debug/
/android/app/release/
# This folder sometime contains packages/dependecies that are broken during upgrade
# and are tackled locally by the developer for temporary fix
/replaced

/playground/*
!/playground/.gitkeep
