.idea
.gradle
protonet.apk
protonet.live.apk
protonet.apk.idsig
protonet.live.apk.idsig
protonet.live
*.iml
local.properties

.DS_Store
build
captures
.externalNativeBuild
.cxx

/android/app/debug/
/android/app/release/
/playground
